<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to ASP.NET Web API!</h1>
                <h2>Modify the code in this template to jump-start your ASP.NET Web API development.</h2>
            </hgroup>
            <p>
                ASP.NET Web API allows you to expose your applications, data and services to the
                web directly over HTTP.
            </p>
            <p>
                To learn more about ASP.NET Web API visit the
                <a href="http://go.microsoft.com/fwlink/?LinkID=238195" title="ASP.NET Web API Website">ASP.NET Web API Website</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET Web API.
                If you have any questions about ASP.NET Web API, visit
                <a href="http://go.microsoft.com/fwlink/?LinkID=238196" title="ASP.NET Web API Forum">our forums</a>.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>Getting Started</h5>
                ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
                a broad range of clients, including browsers and mobile devices. ASP.NET Web API
                is an ideal platform for building RESTful applications on the .NET Framework.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245160">Learn more…</a>
            </li>

            <li class="two">
                <h5>Add NuGet packages and jump-start your coding</h5>
                NuGet makes it easy to install and update free libraries and tools.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245161">Learn more…</a>
            </li>
            <li class="three">
                <h5>Find Web Hosting</h5>
                You can easily find a web hosting company that offers the right mix of features
                and price for your applications.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Learn more…</a>
            </li>
        </ol>
    </section>

    <style>
        .ShiftRight{
            float:right;
        }
    </style>

    <div align='center'>
        <table style='margin-left:10%;margin-right:10%'>
            <tr>
                <th style ='text-align:center' colspan='2'>Delivery Receipt</th>
            </tr>

            <tr>
                <td>
                    Distance
                </td>
                <td class='ShiftRight'>
                    2.3 Miles
                </td>
            </tr>

            <tr>
                <td>
                    Tip
                </td>
                <td class='ShiftRight'>
                    $5.00
                </td>
            </tr>

            <tr>
                <td>
                    Total Items
                </td>
                <td class='ShiftRight'>
                    2
                </td>
            </tr>

            <tr>
                <td>
                    Date
                </td>
                <td class='ShiftRight'>
                    July, 28, 2016
                </td>
            </tr>

            <tr>
                <td>
                    Start Time
                </td>
                <td class='ShiftRight'>
                    2:09PM
                </td>
            </tr>

            <tr>
                <td>
                    End Time
                </td>
                <td class='ShiftRight'>
                    2.12PM
                </td>
            </tr>

            <tr style='background-color:#24b8e8'>
                <td>
                    Base Fee
                </td>
                <td class='ShiftRight'>
                    $5.00
                </td>
            </tr>

            <tr style='background-color:#24b8e8'>
                <td>
                    Total Minutes Charges
                </td>
                <td class='ShiftRight'>
                    $3.00
                </td>
            </tr>

            <tr style='background-color:#24b8e8'>
                <td>
                    Total Miles Charges
                </td>
                <td class='ShiftRight'>
                    $2.00
                </td>
            </tr>

            <tr style='background-color:#24b8e8'>
                <td>
                    Promo Code Discount
                </td>
                <td class='ShiftRight'>
                    $0.00
                </td>
            </tr>

            <tr style='background-color:#24b8e8'>
                <td>
                    Total
                </td>
                <td class='ShiftRight'>
                    $10.00
                </td>
            </tr>

            <tr>
                <td>
                    Total Trip Minutes
                </td>
                <td class='ShiftRight'>
                    6
                </td>
            </tr>

            <tr>
                <td>
                    Total Trip Miles
                </td>
                <td class='ShiftRight'>
                    2.3
                </td>
            </tr>

            <tr>
                <td>
                    Payment Method
                </td>
                <td class='ShiftRight'>
                    XXXX-XXXX-XXXX-1111
                </td>
            </tr>

            <tr>
                <td>
                    Payment Status
                </td>
                <td class='ShiftRight'>
                    Paid
                </td>
            </tr>
        </table>
    </div>
</div>
